<table style="max-width: 600px; padding: 0px; margin:0 auto; border-collapse: collapse;">
    <tr>
        <td style="padding: 0">
            <a href="https://imgbb.com/"><img style="min-width:100% ;padding: 0; display: block"
                    src="https://i.ibb.co/LzSNw1d/header.png" alt="header"></a>
        </td>
    </tr>

    <tr>
        <td style="background-color:#19467f">
            <div style="color: bisque; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: blanchedalmond; margin: 0 0 7px">CORREO MASIVO</h2>
                <p style="margin: 2px; font-size: 15px">
                    Hola {{firts_name}} {{last_name}},<br><br>
                    El Sistema de Gestion de Electivas le da la bienvenida a la aplicación web.<br>
                    Ha sido registrado como un nuevo {{ role }} en la plataforma donde podrá realizar las votaciones de
                    las electivas que le sean matriculadas a lo largo de sus instancia universitaria, en hora buena.<br>
                    <br>
                    Sus credenciales de acceso son:
                    <br>
                    Usuario: {{ username }}
                    <br>
                    Constraseña: {{ password }}
                    <br>
                    Recuerde que por su seguridad debe modificar la contraseña por una más segura y facil de recordar.
                    <div style="width: 100%; text-align: center; padding-top:25px">
                        <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db"
                            href="https://electivas-402c8.firebaseapp.com">Ir a la página
                        </a>
                    </div>
                    <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">PROYECTO ELECTIVAS
                        2019
                    </p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0">
            <a href="https://imgbb.com/"><img style="min-width:100% ;padding: 0; display: block"
                    src="https://i.ibb.co/7nkTTM4/footer.png" alt="footer"></a>
        </td>
    </tr>
</table>